<h1> To-Do List</h1>

<div>
<input type="text" [(ngModel)]="value" placeholder="New Task">
<button id="addtask" (click)="onClickAdd(value)">Add</button><br>
<br>
</div>
<br>

<mat-table [dataSource]="datasource">
    <ng-container matColumnDef="Task">
        <mat-header-cell *matHeaderCellDef> Task </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span [ngStyle]="{'text-decoration': element.done ? 'line-through' : 'none'}">{{element.Task}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <!-- <span class="icon-container"> -->
                <!-- <button mat-mini-fab color="primary"><mat-icon color="primary">done</mat-icon></button>
                <button mat-mini-fab color="warn"><mat-icon color="warn">close</mat-icon></button> -->
                <button mat-button color="primary" (click)="onclickDone(element)"><mat-icon color="primary">done</mat-icon></button>
                <button mat-button color="warn" (click)="onClickClose(element)"><mat-icon color="warn">close</mat-icon></button>
                
            <!-- </span> -->
            
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>